[Unit]
Description=SonarQube Community Edition
Wants=network-online.target
After=network.target network-online.target
[Service]
ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop
User=sonarqube
Group=sonarqube
Type=forking
PIDFile=/opt/sonarqube/bin/linux-x86-64/SonarQube.pid
[Install]
WantedBy=multi-user.target
